{{#partial "content"}}
<div id="both">

{{departmentn}}
{{general}}
{{user_name}}
{{position}}
{{role}}
{{department}}
{{name}}
{{description}}
{{emplonbr}}

<a href="/">back</a>
</div>
{{/partial}}
{{> layout.hbs}}
